n8n_workflows/01_Preparar_Corpus.json
{
  "name": "01_Preparar_Corpus",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/1/folders/1QQiZTv3O8Nl_8Tj60A3I4CA1XeyHVgNh",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4fc14e00-cc53-4483-9a06-445e1ec97f44",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RZklcl2VDsYGTwO2",
          "name": "Google_Drive_Proyecto_IA"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "283def6e-45f4-4c04-ad17-6c1aa4e2da3b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "2f09b4d4-c852-4177-abb1-03fda6c9ca6e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RZklcl2VDsYGTwO2",
          "name": "Google_Drive_Proyecto_IA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Configuración\nconst CHUNK_SIZE = 2400;\nconst OVERLAP = 400;\n\n// Función para crear chunks\nfunction createChunks(text, chunkSize, overlap) {\n  const chunks = [];\n  let position = 0;\n  let chunkIndex = 0;\n  \n  while (position < text.length) {\n    const end = Math.min(position + chunkSize, text.length);\n    const chunk = text.substring(position, end).trim();\n    \n    if (chunk.length > 0) {\n      chunks.push({\n        text: chunk,\n        chunk_index: chunkIndex,\n        chunk_size: chunk.length,\n        start_position: position,\n        end_position: end\n      });\n      chunkIndex++;\n    }\n    \n    position += chunkSize - overlap;\n  }\n  \n  return chunks;\n}\n\n// Función para extraer y limpiar nombre de archivo\nfunction sanitizeFileName(rawName) {\n  if (!rawName || rawName === 'unknown.pdf') {\n    return 'documento_sin_nombre';\n  }\n  \n  // Remover extensión .pdf\n  let name = rawName.replace(/\\.pdf$/i, '');\n  \n  // Reemplazar caracteres especiales y espacios\n  name = name\n    .replace(/\\+/g, '_')      // + por _\n    .replace(/,/g, '_')        // , por _\n    .replace(/\\s+/g, '_')      // espacios por _\n    .replace(/[()]/g, '')      // remover paréntesis\n    .replace(/_+/g, '_')       // múltiples _ por uno solo\n    .replace(/^_|_$/g, '');    // remover _ al inicio/final\n  \n  // Limitar longitud (máximo 50 caracteres)\n  if (name.length > 50) {\n    name = name.substring(0, 50);\n  }\n  \n  return name;\n}\n\n// Función para generar doc_id único\nfunction generateDocId(fileName, triggerData) {\n  // Intentar extraer doc_XXX del nombre de archivo\n  const docIdMatch = fileName.match(/doc_(\\d{3})/);\n  if (docIdMatch) {\n    return `doc_${docIdMatch[1]}`;\n  }\n  \n  // Si no hay doc_XXX, usar el ID del archivo de Google Drive\n  if (triggerData && triggerData.id) {\n    // Usar los últimos 6 caracteres del ID de Google Drive\n    const shortId = triggerData.id.substring(triggerData.id.length - 6);\n    return `doc_${shortId}`;\n  }\n  \n  // Fallback: usar timestamp\n  return `doc_${Date.now()}`;\n}\n\n// Procesar el documento\nconst output = [];\nconst item = $input.first();\n\n// Extraer información del documento\nconst docText = item.json.text;\n\n// Obtener el nombre original del archivo del trigger de Google Drive\nconst triggerData = $('Google Drive Trigger').first().json;\nconst rawFileName = triggerData?.name || item.json.info?.Title || 'unknown.pdf';\n\n// Limpiar y formatear nombre de archivo\nconst cleanFileName = sanitizeFileName(rawFileName);\n\n// Generar doc_id\nconst docId = generateDocId(rawFileName, triggerData);\n\n// Nombre final formateado\nconst finalDocName = `${docId}_${cleanFileName}.pdf`;\n\n// Crear chunks\nconst chunks = createChunks(docText, CHUNK_SIZE, OVERLAP);\n\n// Agregar metadatos a cada chunk\nfor (const chunk of chunks) {\n  output.push({\n    json: {\n      text: chunk.text,\n      doc_id: docId,\n      doc_nombre: finalDocName,\n      doc_nombre_original: rawFileName,\n      chunk_index: chunk.chunk_index,\n      chunk_size: chunk.chunk_size,\n      total_chunks: chunks.length,\n      start_position: chunk.start_position,\n      end_position: chunk.end_position\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "d925ee1d-2750-49a7-b5da-f87a125cd260",
      "name": "Chunking"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot-ia-ucaldas",
          "mode": "list",
          "cachedResultName": "chatbot-ia-ucaldas"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "c730bad5-480d-44b6-8516-09ea412385db",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "S7KkYW6MsGysT6mc",
          "name": "Pinecone_Proyecto_IA"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_id",
                "value": "={{ $json.doc_id }}"
              },
              {
                "name": "doc_nombre",
                "value": "={{ $json.doc_nombre }}"
              },
              {
                "name": "chunk_index",
                "value": "={{ $json.chunk_index }}"
              },
              {
                "name": "total_chunks",
                "value": "={{ $json.total_chunks }}"
              },
              {
                "name": "doc_nombre_original",
                "value": "={{ $json.doc_nombre_original }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        224
      ],
      "id": "086c24d6-136b-4af5-a4fe-5d46a3dbcfa0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536,
          "batchSize": 512,
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        208
      ],
      "id": "0c007535-5f83-4216-85bc-f811fb1b8030",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "GjmwnpHOdvfN3h3Q",
          "name": "OpenAi account HJE"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        448,
        -368
      ],
      "id": "bb6485a5-ea73-44da-9e7f-f0f9e9d522f7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://chatbot-ia-ucaldas-5b6e0j6.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n      \"deleteAll\": true\n    }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -368
      ],
      "id": "3c40685a-6770-4f62-bd06-f10807db271e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FwCnv5pmqELyyNoW",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "713c02de-2f65-4871-ba47-f24845abe842",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "312c41da1f64707c182f2cc912cfdf1e272c88b2a6ff833031fa4e94d238c185"
  },
  "id": "nDLiTgsfuH2JA1t3",
  "tags": []
}