n8n_workflows/03_Evaluacion_Automatizada.json
{
  "name": "03_Evaluacion_Automatizada",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluacion-gold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6e7c4ab2-241e-401f-bbdb-6a547980a99d",
      "name": "Webhook",
      "webhookId": "d3b71d91-3c92-4358-b305-41191fce8cc6"
    },
    {
      "parameters": {
        "jsCode": "const preguntasGold = {\n  \"version\": \"1.0\",\n  \"total_preguntas\": 10,\n  \"fecha_creacion\": \"2025-11-16\",\n  \"autor\": \"Jerónimo Toro C\",\n  \"descripcion\": \"Conjunto gold de preguntas para evaluación del ChatBot de IA - Universidad de Caldas\",\n  \"categorias\": {\n    \"conceptos_basicos\": 2,\n    \"historia\": 2,\n    \"ml_clasico\": 2,\n    \"deep_learning_llms\": 2,\n    \"etica_regulacion\": 1,\n    \"aplicaciones\": 1\n  },\n  \"preguntas\": [\n    {\n      \"id\": \"Q001\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es la Inteligencia Artificial?\",\n      \"respuesta_esperada\": \"Campo de la informática que desarrolla sistemas capaces de realizar tareas que normalmente requieren inteligencia humana, como aprendizaje, razonamiento y resolución de problemas.\",\n      \"fuentes_recomendadas\": [\n        \"UNESCO AI Ethics\",\n        \"Russell & Norvig - Artificial Intelligence\"\n      ],\n      \"palabras_clave\": [\n        \"inteligencia artificial\",\n        \"definición\",\n        \"sistemas inteligentes\"\n      ]\n    },\n    {\n      \"id\": \"Q002\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Cuál es la diferencia entre IA débil e IA fuerte?\",\n      \"respuesta_esperada\": \"IA débil (narrow AI) está diseñada para tareas específicas, mientras que IA fuerte (general AI) tendría capacidades cognitivas generales comparables a las humanas.\",\n      \"fuentes_recomendadas\": [\"Russell & Norvig\", \"Stanford AI Index\"],\n      \"palabras_clave\": [\"IA débil\", \"IA fuerte\", \"AGI\", \"narrow AI\"]\n    },\n    {\n      \"id\": \"Q003\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Quién acuñó el término Inteligencia Artificial y en qué año?\",\n      \"respuesta_esperada\": \"John McCarthy acuñó el término en 1956 durante la Conferencia de Dartmouth.\",\n      \"fuentes_recomendadas\": [\n        \"Historia de la IA - McCarthy\",\n        \"Dartmouth Conference 1956\"\n      ],\n      \"palabras_clave\": [\"John McCarthy\", \"1956\", \"Dartmouth\", \"origen\"]\n    },\n    {\n      \"id\": \"Q004\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué fue el invierno de la IA?\",\n      \"respuesta_esperada\": \"Períodos (principalmente años 70s y finales 80s) de reducción drástica en financiamiento e interés en IA debido a expectativas no cumplidas y limitaciones técnicas.\",\n      \"fuentes_recomendadas\": [\"History of AI Research\", \"AI Winter - IEEE\"],\n      \"palabras_clave\": [\n        \"invierno IA\",\n        \"AI winter\",\n        \"financiamiento\",\n        \"historia\"\n      ]\n    },\n    {\n      \"id\": \"Q005\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es un árbol de decisión en Machine Learning?\",\n      \"respuesta_esperada\": \"Modelo de aprendizaje supervisado que toma decisiones mediante una estructura de árbol donde cada nodo representa una prueba sobre un atributo y las hojas representan las decisiones finales.\",\n      \"fuentes_recomendadas\": [\n        \"Bishop - Pattern Recognition\",\n        \"Scikit-learn Documentation\"\n      ],\n      \"palabras_clave\": [\"árbol de decisión\", \"supervisado\", \"clasificación\"]\n    },\n    {\n      \"id\": \"Q006\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Cómo funciona el algoritmo de Support Vector Machine (SVM)?\",\n      \"respuesta_esperada\": \"SVM encuentra el hiperplano óptimo que maximiza el margen entre clases en un espacio de características, pudiendo usar kernels para clasificación no lineal.\",\n      \"fuentes_recomendadas\": [\n        \"Vapnik - SVM Theory\",\n        \"ML Coursera - Andrew Ng\"\n      ],\n      \"palabras_clave\": [\"SVM\", \"hiperplano\", \"margen\", \"kernel\"]\n    },\n    {\n      \"id\": \"Q007\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es un transformer en el contexto de deep learning?\",\n      \"respuesta_esperada\": \"Arquitectura de red neuronal basada en mecanismos de atención que procesa secuencias en paralelo, base de modelos como GPT y BERT.\",\n      \"fuentes_recomendadas\": [\n        \"Attention is All You Need\",\n        \"OpenAI GPT Papers\"\n      ],\n      \"palabras_clave\": [\n        \"transformer\",\n        \"atención\",\n        \"GPT\",\n        \"BERT\",\n        \"arquitectura\"\n      ]\n    },\n    {\n      \"id\": \"Q008\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué es el fine-tuning en Large Language Models?\",\n      \"respuesta_esperada\": \"Proceso de ajustar un modelo preentrenado con datos específicos de una tarea o dominio para mejorar su desempeño en aplicaciones particulares.\",\n      \"fuentes_recomendadas\": [\n        \"OpenAI Fine-tuning Guide\",\n        \"Hugging Face Documentation\"\n      ],\n      \"palabras_clave\": [\"fine-tuning\", \"LLM\", \"ajuste\", \"preentrenamiento\"]\n    },\n    {\n      \"id\": \"Q009\",\n      \"categoria\": \"etica_regulacion\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es el AI Act de la Unión Europea?\",\n      \"respuesta_esperada\": \"Marco regulatorio que clasifica sistemas de IA según riesgo y establece requisitos de transparencia, seguridad y derechos fundamentales.\",\n      \"fuentes_recomendadas\": [\"EU AI Act 2024\", \"UNESCO AI Ethics\"],\n      \"palabras_clave\": [\"AI Act\", \"regulación\", \"Unión Europea\", \"ética\"]\n    },\n    {\n      \"id\": \"Q010\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Cuáles son tres aplicaciones comunes de IA en la vida cotidiana?\",\n      \"respuesta_esperada\": \"Asistentes virtuales (Siri, Alexa), sistemas de recomendación (Netflix, Spotify) y reconocimiento facial en smartphones.\",\n      \"fuentes_recomendadas\": [\n        \"AI Applications - Stanford\",\n        \"UNESCO AI Report\"\n      ],\n      \"palabras_clave\": [\n        \"aplicaciones\",\n        \"asistentes\",\n        \"recomendación\",\n        \"reconocimiento\"\n      ]\n    },\n    {\n      \"id\": \"Q011\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué se entiende por inteligencia artificial en el contexto computacional?\",\n      \"respuesta_esperada\": \"Es el campo de estudio que busca crear sistemas capaces de realizar tareas que normalmente requieren inteligencia humana. Incluye técnicas para percibir, razonar, aprender y tomar decisiones basadas en datos.\",\n      \"fuentes_recomendadas\": [\n        \"Russell & Norvig - Artificial Intelligence: A Modern Approach\",\n        \"MIT OpenCourseWare - Introduction to AI\"\n      ],\n      \"palabras_clave\": [\n        \"inteligencia artificial\",\n        \"sistemas inteligentes\",\n        \"razonamiento\",\n        \"aprendizaje\"\n      ]\n    },\n    {\n      \"id\": \"Q012\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Cuál fue el impacto de la Conferencia de Dartmouth en el desarrollo de la IA?\",\n      \"respuesta_esperada\": \"La Conferencia de Dartmouth de 1956 marcó el inicio formal de la IA como disciplina académica. Reunió a investigadores clave y estableció una agenda para explorar máquinas capaces de simular la inteligencia humana.\",\n      \"fuentes_recomendadas\": [\n        \"Nils Nilsson - The Quest for Artificial Intelligence\",\n        \"AAAI Historical Resources\"\n      ],\n      \"palabras_clave\": [\n        \"Dartmouth\",\n        \"historia de la IA\",\n        \"disciplina\",\n        \"investigación\"\n      ]\n    },\n    {\n      \"id\": \"Q013\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿En qué consiste la regresión logística y para qué tipo de problemas se utiliza?\",\n      \"respuesta_esperada\": \"La regresión logística es un modelo estadístico que estima la probabilidad de pertenencia a una clase binaria usando una función sigmoide. Se emplea ampliamente en tareas de clasificación como detección de spam o diagnóstico médico.\",\n      \"fuentes_recomendadas\": [\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\",\n        \"Bishop - Pattern Recognition and Machine Learning\"\n      ],\n      \"palabras_clave\": [\n        \"regresión logística\",\n        \"clasificación\",\n        \"probabilidad\",\n        \"sigmoide\"\n      ]\n    },\n    {\n      \"id\": \"Q014\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué ventaja principal introdujo la arquitectura Transformer en comparación con las redes recurrentes?\",\n      \"respuesta_esperada\": \"Los Transformers permiten procesar secuencias completas en paralelo mediante mecanismos de atención, eliminando la dependencia estricta del orden secuencial. Esto mejora la eficiencia computacional y capta mejor relaciones de largo alcance.\",\n      \"fuentes_recomendadas\": [\n        \"Vaswani et al. - Attention Is All You Need\",\n        \"Goodfellow, Bengio & Courville - Deep Learning\"\n      ],\n      \"palabras_clave\": [\n        \"Transformer\",\n        \"atención\",\n        \"secuencias\",\n        \"paralelización\"\n      ]\n    },\n    {\n      \"id\": \"Q015\",\n      \"categoria\": \"etica_regulacion\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Por qué el sesgo algorítmico es un riesgo crítico en sistemas de IA utilizados para decisiones públicas?\",\n      \"respuesta_esperada\": \"El sesgo algorítmico puede amplificar desigualdades existentes cuando se usan datos históricos no representativos o discriminatorios. En decisiones públicas, esto afecta la equidad y puede vulnerar derechos fundamentales.\",\n      \"fuentes_recomendadas\": [\n        \"OCDE - Recomendación sobre IA\",\n        \"UNESCO - Ethical Framework for AI\",\n        \"Cathy O'Neil - Weapons of Math Destruction\"\n      ],\n      \"palabras_clave\": [\"sesgo algorítmico\", \"equidad\", \"datos\", \"derechos\"]\n    },\n    {\n      \"id\": \"Q016\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Cómo se utiliza la IA en los sistemas de recomendación?\",\n      \"respuesta_esperada\": \"Estos sistemas analizan patrones de comportamiento y preferencias del usuario para sugerir contenidos relevantes. Emplean técnicas de filtrado colaborativo y modelos predictivos para mejorar la personalización.\",\n      \"fuentes_recomendadas\": [\n        \"Ricci, Rokach & Shapira - Recommender Systems Handbook\",\n        \"ACM Computing Surveys on Recommender Systems\"\n      ],\n      \"palabras_clave\": [\n        \"recomendación\",\n        \"personalización\",\n        \"filtrado colaborativo\",\n        \"preferencias\"\n      ]\n    },\n    {\n      \"id\": \"Q017\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué diferencia al aprendizaje supervisado del no supervisado?\",\n      \"respuesta_esperada\": \"El aprendizaje supervisado utiliza datos etiquetados para entrenar modelos que predicen valores o clases específicas. El no supervisado busca patrones o estructuras ocultas en datos sin etiquetar, como agrupamientos.\",\n      \"fuentes_recomendadas\": [\n        \"Bishop - Pattern Recognition and Machine Learning\",\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\"\n      ],\n      \"palabras_clave\": [\n        \"supervisado\",\n        \"no supervisado\",\n        \"etiquetas\",\n        \"patrones\"\n      ]\n    },\n    {\n      \"id\": \"Q018\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué papel juega el margen en los modelos SVM y por qué es relevante?\",\n      \"respuesta_esperada\": \"El margen es la distancia entre el hiperplano de separación y los puntos más cercanos de cada clase. Maximizarlo mejora la capacidad de generalización y reduce la sensibilidad al ruido del modelo.\",\n      \"fuentes_recomendadas\": [\n        \"Cortes & Vapnik - Support Vector Networks\",\n        \"Bishop - Pattern Recognition and Machine Learning\"\n      ],\n      \"palabras_clave\": [\"SVM\", \"margen\", \"generalización\", \"hiperplano\"]\n    },\n    {\n      \"id\": \"Q019\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Por qué los modelos de lenguaje a gran escala pueden presentar alucinaciones en sus respuestas?\",\n      \"respuesta_esperada\": \"Estas alucinaciones surgen cuando el modelo genera información plausible pero incorrecta debido a patrones estadísticos aprendidos sin comprensión semántica real. También se relacionan con datos incompletos, sesgos y la naturaleza probabilística de la generación.\",\n      \"fuentes_recomendadas\": [\n        \"OpenAI Research Papers\",\n        \"Anthropic - Constitutional AI\",\n        \"Goodfellow, Bengio & Courville - Deep Learning\"\n      ],\n      \"palabras_clave\": [\"LLM\", \"alucinaciones\", \"generación\", \"sesgos\"]\n    },\n    {\n      \"id\": \"Q020\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Cómo puede la IA apoyar el diagnóstico médico asistido?\",\n      \"respuesta_esperada\": \"Los modelos de IA analizan imágenes, registros clínicos y patrones de síntomas para ayudar a identificar posibles enfermedades. Funcionan como herramientas de apoyo que aumentan la precisión y rapidez del diagnóstico, pero no sustituyen el criterio clínico.\",\n      \"fuentes_recomendadas\": [\n        \"Topol - Deep Medicine\",\n        \"Nature Medicine - AI in Healthcare\",\n        \"WHO Guidance on AI in Health\"\n      ],\n      \"palabras_clave\": [\"diagnóstico\", \"salud\", \"modelos\", \"imágenes médicas\"]\n    },\n    {\n      \"id\": \"Q021\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es un agente inteligente en IA?\",\n      \"respuesta_esperada\": \"Es una entidad que percibe su entorno mediante sensores y actúa sobre él mediante actuadores. Su objetivo es seleccionar acciones que maximicen su desempeño según una medida definida.\",\n      \"fuentes_recomendadas\": [\n        \"Russell & Norvig - Artificial Intelligence: A Modern Approach\",\n        \"MIT OpenCourseWare - Introduction to AI\"\n      ],\n      \"palabras_clave\": [\"agente\", \"entorno\", \"percepción\", \"acciones\"]\n    },\n    {\n      \"id\": \"Q022\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué aportó Alan Turing al desarrollo de la inteligencia artificial?\",\n      \"respuesta_esperada\": \"Turing propuso el modelo computacional que fundamenta el concepto de algoritmo y la idea de una máquina universal. También formuló la Prueba de Turing como criterio para evaluar el comportamiento inteligente en máquinas.\",\n      \"fuentes_recomendadas\": [\n        \"Alan Turing - Computing Machinery and Intelligence\",\n        \"Nils Nilsson - The Quest for Artificial Intelligence\"\n      ],\n      \"palabras_clave\": [\n        \"Turing\",\n        \"máquina universal\",\n        \"prueba de Turing\",\n        \"algoritmos\"\n      ]\n    },\n    {\n      \"id\": \"Q023\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es un árbol de decisión y para qué se utiliza?\",\n      \"respuesta_esperada\": \"Es un modelo que divide iterativamente el espacio de datos mediante reglas simples para realizar clasificación o regresión. Su estructura jerárquica facilita la interpretación y el análisis de decisiones.\",\n      \"fuentes_recomendadas\": [\n        \"Breiman et al. - Classification and Regression Trees\",\n        \"Bishop - Pattern Recognition and Machine Learning\"\n      ],\n      \"palabras_clave\": [\n        \"árbol de decisión\",\n        \"clasificación\",\n        \"regresión\",\n        \"reglas\"\n      ]\n    },\n    {\n      \"id\": \"Q024\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué papel cumplen las funciones de activación en una red neuronal profunda?\",\n      \"respuesta_esperada\": \"Permiten introducir no linealidad en las capas, lo que habilita a la red para aprender representaciones complejas. Activaciones como ReLU o tanh ayudan a controlar gradientes y mejorar la estabilidad del entrenamiento.\",\n      \"fuentes_recomendadas\": [\n        \"Goodfellow, Bengio & Courville - Deep Learning\",\n        \"Yann LeCun Papers\"\n      ],\n      \"palabras_clave\": [\"activación\", \"no linealidad\", \"ReLU\", \"red neuronal\"]\n    },\n    {\n      \"id\": \"Q025\",\n      \"categoria\": \"etica_regulacion\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Por qué es importante la transparencia en los sistemas de IA?\",\n      \"respuesta_esperada\": \"La transparencia facilita comprender cómo un sistema llega a sus decisiones, lo que mejora la confianza y la rendición de cuentas. Además, permite detectar errores, sesgos y riesgos de impacto social.\",\n      \"fuentes_recomendadas\": [\n        \"OCDE - Principios de IA\",\n        \"UNESCO - Recomendación sobre Ética de la IA\"\n      ],\n      \"palabras_clave\": [\n        \"transparencia\",\n        \"explicabilidad\",\n        \"responsabilidad\",\n        \"riesgos\"\n      ]\n    },\n    {\n      \"id\": \"Q026\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Cómo puede la IA optimizar procesos en cadenas de suministro?\",\n      \"respuesta_esperada\": \"Modelos predictivos anticipan demanda, ajustan inventarios y mejoran decisiones logísticas en tiempo real. Esto reduce costos, incrementa eficiencia y permite adaptarse rápidamente a condiciones cambiantes.\",\n      \"fuentes_recomendadas\": [\n        \"MIT Sloan - AI in Operations\",\n        \"Harvard Business Review - Supply Chain Analytics\"\n      ],\n      \"palabras_clave\": [\n        \"cadena de suministro\",\n        \"optimización\",\n        \"predicción\",\n        \"logística\"\n      ]\n    },\n    {\n      \"id\": \"Q027\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es el espacio de búsqueda en un problema de IA?\",\n      \"respuesta_esperada\": \"Es el conjunto de todos los estados posibles que puede adoptar un sistema al intentar resolver una tarea. Definir y explorar eficazmente este espacio es esencial para algoritmos como búsqueda heurística.\",\n      \"fuentes_recomendadas\": [\n        \"Russell & Norvig - Artificial Intelligence: A Modern Approach\",\n        \"Pearl - Heuristics\"\n      ],\n      \"palabras_clave\": [\n        \"espacio de búsqueda\",\n        \"estados\",\n        \"heurística\",\n        \"exploración\"\n      ]\n    },\n    {\n      \"id\": \"Q028\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Cuál fue la relevancia del perceptrón en los primeros desarrollos del aprendizaje automático?\",\n      \"respuesta_esperada\": \"El perceptrón introdujo un modelo formal para el aprendizaje lineal y despertó un gran entusiasmo inicial por las redes neuronales. Sin embargo, sus limitaciones teóricas llevaron a un estancamiento temporal, que más tarde se superó con técnicas de entrenamiento profundo.\",\n      \"fuentes_recomendadas\": [\n        \"Rosenblatt - The Perceptron\",\n        \"Minsky & Papert - Perceptrons\"\n      ],\n      \"palabras_clave\": [\n        \"perceptrón\",\n        \"aprendizaje lineal\",\n        \"redes neuronales\",\n        \"limitaciones\"\n      ]\n    },\n    {\n      \"id\": \"Q029\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Para qué se utiliza el algoritmo k-means y cómo funciona a nivel general?\",\n      \"respuesta_esperada\": \"k-means agrupa datos en k clústeres asignando cada punto al centro más cercano y ajustando estos centros iterativamente. Es un método eficiente para revelar estructuras internas en datos no etiquetados.\",\n      \"fuentes_recomendadas\": [\n        \"Bishop - Pattern Recognition and Machine Learning\",\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\"\n      ],\n      \"palabras_clave\": [\"k-means\", \"clúster\", \"agrupamiento\", \"centroides\"]\n    },\n    {\n      \"id\": \"Q030\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué son los embeddings y por qué son esenciales en el procesamiento del lenguaje natural?\",\n      \"respuesta_esperada\": \"Los embeddings representan palabras o tokens como vectores densos que capturan relaciones semánticas y sintácticas. Permiten a los modelos operar en un espacio continuo donde similitudes lingüísticas pueden aprenderse y explotarse.\",\n      \"fuentes_recomendadas\": [\n        \"Mikolov et al. - Word2Vec\",\n        \"Bengio et al. - Neural Probabilistic Language Model\"\n      ],\n      \"palabras_clave\": [\n        \"embeddings\",\n        \"representación vectorial\",\n        \"semántica\",\n        \"PLN\"\n      ]\n    },\n    {\n      \"id\": \"Q031\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es un sistema experto en inteligencia artificial?\",\n      \"respuesta_esperada\": \"Es un programa diseñado para imitar la toma de decisiones de un especialista humano en un dominio específico. Utiliza una base de conocimientos y un motor de inferencia para resolver problemas complejos.\",\n      \"fuentes_recomendadas\": [\n        \"Russell & Norvig - Artificial Intelligence: A Modern Approach\",\n        \"Durkin - Expert Systems\"\n      ],\n      \"palabras_clave\": [\n        \"sistema experto\",\n        \"motor de inferencia\",\n        \"base de conocimientos\"\n      ]\n    },\n    {\n      \"id\": \"Q032\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué ocurrió durante el primer 'invierno de la IA'?\",\n      \"respuesta_esperada\": \"El primer invierno de la IA fue un periodo de recortes de financiamiento y desinterés debido a expectativas no cumplidas. Las limitaciones técnicas y el escepticismo frenaron el avance del campo durante varios años.\",\n      \"fuentes_recomendadas\": [\n        \"Nils Nilsson - The Quest for Artificial Intelligence\",\n        \"AAAI Historical Overviews\"\n      ],\n      \"palabras_clave\": [\n        \"invierno de la IA\",\n        \"financiamiento\",\n        \"expectativas\",\n        \"limitaciones\"\n      ]\n    },\n    {\n      \"id\": \"Q033\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es la validación cruzada y por qué se utiliza?\",\n      \"respuesta_esperada\": \"Es una técnica que divide los datos en subconjuntos para entrenar y evaluar un modelo múltiples veces. Permite estimar su desempeño general y reducir el riesgo de sobreajuste.\",\n      \"fuentes_recomendadas\": [\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\",\n        \"Bishop - Pattern Recognition and Machine Learning\"\n      ],\n      \"palabras_clave\": [\n        \"validación cruzada\",\n        \"sobreajuste\",\n        \"evaluación\",\n        \"generalización\"\n      ]\n    },\n    {\n      \"id\": \"Q034\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Cuál es la función del mecanismo de atención en una red neuronal?\",\n      \"respuesta_esperada\": \"El mecanismo de atención permite ponderar la relevancia de distintas partes de una entrada al generar una salida. Esto mejora la capacidad del modelo para capturar dependencias complejas y relaciones a largo plazo.\",\n      \"fuentes_recomendadas\": [\n        \"Vaswani et al. - Attention Is All You Need\",\n        \"Goodfellow, Bengio & Courville - Deep Learning\"\n      ],\n      \"palabras_clave\": [\n        \"atención\",\n        \"ponderación\",\n        \"dependencias\",\n        \"representación\"\n      ]\n    },\n    {\n      \"id\": \"Q035\",\n      \"categoria\": \"etica_regulacion\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué desafíos presenta la responsabilidad legal en sistemas autónomos?\",\n      \"respuesta_esperada\": \"Los sistemas autónomos complican la atribución de responsabilidad cuando ocurren fallos o daños, ya que intervienen múltiples actores. Esto exige marcos regulatorios claros que definan obligaciones y niveles de supervisión.\",\n      \"fuentes_recomendadas\": [\n        \"OCDE - Marco de Gobernanza de IA\",\n        \"UNESCO - Ética de la IA\"\n      ],\n      \"palabras_clave\": [\n        \"responsabilidad\",\n        \"autonomía\",\n        \"regulación\",\n        \"supervisión\"\n      ]\n    },\n    {\n      \"id\": \"Q036\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Cómo se aplica la IA en el análisis de imágenes médicas?\",\n      \"respuesta_esperada\": \"La IA detecta patrones en imágenes como radiografías o resonancias para identificar posibles anomalías. Esto ayuda a apoyar diagnósticos tempranos y aumentar la precisión clínica.\",\n      \"fuentes_recomendadas\": [\n        \"Nature Medicine - AI in Medical Imaging\",\n        \"Topol - Deep Medicine\"\n      ],\n      \"palabras_clave\": [\n        \"imágenes médicas\",\n        \"detección\",\n        \"patrones\",\n        \"diagnóstico\"\n      ]\n    },\n    {\n      \"id\": \"Q037\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué diferencia existe entre un problema determinista y uno estocástico en IA?\",\n      \"respuesta_esperada\": \"En un problema determinista las acciones producen resultados predecibles, mientras que en uno estocástico existe incertidumbre en los efectos de las acciones. Esta diferencia condiciona los métodos de planificación y toma de decisiones.\",\n      \"fuentes_recomendadas\": [\n        \"Russell & Norvig - Artificial Intelligence: A Modern Approach\",\n        \"MIT OCW - Decision Making Under Uncertainty\"\n      ],\n      \"palabras_clave\": [\n        \"determinista\",\n        \"estocástico\",\n        \"incertidumbre\",\n        \"planificación\"\n      ]\n    },\n    {\n      \"id\": \"Q038\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Quién fue John McCarthy y por qué es importante para la IA?\",\n      \"respuesta_esperada\": \"John McCarthy fue uno de los fundadores de la IA y acuñó el término en 1956. También desarrolló el lenguaje LISP, fundamental para los primeros sistemas de investigación en IA.\",\n      \"fuentes_recomendadas\": [\n        \"Nils Nilsson - The Quest for Artificial Intelligence\",\n        \"AAAI Biographical Notes\"\n      ],\n      \"palabras_clave\": [\"John McCarthy\", \"LISP\", \"fundadores\", \"historia\"]\n    },\n    {\n      \"id\": \"Q039\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué es la regularización L1 y cómo afecta a los modelos?\",\n      \"respuesta_esperada\": \"La regularización L1 agrega una penalización basada en la magnitud absoluta de los coeficientes, promoviendo soluciones dispersas. Esto ayuda a seleccionar características relevantes y reducir el sobreajuste.\",\n      \"fuentes_recomendadas\": [\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\",\n        \"Bishop - Pattern Recognition and Machine Learning\"\n      ],\n      \"palabras_clave\": [\"L1\", \"regularización\", \"sobreajuste\", \"sparsity\"]\n    },\n    {\n      \"id\": \"Q040\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué es el fine-tuning en modelos de lenguaje y para qué se utiliza?\",\n      \"respuesta_esperada\": \"El fine-tuning consiste en ajustar un modelo preentrenado usando un conjunto de datos específico para una tarea concreta. Esto permite aprovechar el conocimiento general adquirido y adaptarlo a dominios especializados.\",\n      \"fuentes_recomendadas\": [\n        \"OpenAI Research – GPT Fine-Tuning\",\n        \"Goodfellow, Bengio & Courville - Deep Learning\"\n      ],\n      \"palabras_clave\": [\n        \"fine-tuning\",\n        \"preentrenamiento\",\n        \"dominio\",\n        \"adaptación\"\n      ]\n    },\n    {\n      \"id\": \"Q041\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es un algoritmo heurístico en IA?\",\n      \"respuesta_esperada\": \"Es un método que utiliza aproximaciones o reglas prácticas para encontrar soluciones satisfactorias cuando una búsqueda exhaustiva es inviable. Las heurísticas permiten acelerar la resolución de problemas complejos sacrificando exactitud perfecta.\",\n      \"fuentes_recomendadas\": [\n        \"Russell & Norvig - Artificial Intelligence: A Modern Approach\",\n        \"Pearl - Heuristics\"\n      ],\n      \"palabras_clave\": [\n        \"heurística\",\n        \"búsqueda\",\n        \"aproximación\",\n        \"optimización\"\n      ]\n    },\n    {\n      \"id\": \"Q042\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Por qué el desarrollo de Deep Blue fue relevante en la historia de la IA?\",\n      \"respuesta_esperada\": \"Deep Blue fue el primer sistema en derrotar a un campeón mundial de ajedrez, demostrando la capacidad de las máquinas para superar a expertos humanos en tareas estructuradas. Su éxito impulsó el interés en la IA y la computación de alto rendimiento.\",\n      \"fuentes_recomendadas\": [\n        \"Campbell et al. - Deep Blue Papers\",\n        \"Nils Nilsson - The Quest for Artificial Intelligence\"\n      ],\n      \"palabras_clave\": [\"Deep Blue\", \"ajedrez\", \"alto rendimiento\", \"historia\"]\n    },\n    {\n      \"id\": \"Q043\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es el sobreajuste en un modelo de aprendizaje automático?\",\n      \"respuesta_esperada\": \"El sobreajuste ocurre cuando un modelo aprende patrones específicos del conjunto de entrenamiento y falla al generalizar a nuevos datos. Esto suele deberse a modelos demasiado complejos o falta de regularización.\",\n      \"fuentes_recomendadas\": [\n        \"Bishop - Pattern Recognition and Machine Learning\",\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\"\n      ],\n      \"palabras_clave\": [\n        \"sobreajuste\",\n        \"generalización\",\n        \"regularización\",\n        \"modelo\"\n      ]\n    },\n    {\n      \"id\": \"Q044\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué son las capas convolucionales y para qué se utilizan?\",\n      \"respuesta_esperada\": \"Son capas que aplican filtros para extraer características locales de los datos, especialmente en imágenes. Permiten detectar patrones como bordes, texturas y formas mediante operaciones de convolución.\",\n      \"fuentes_recomendadas\": [\n        \"LeCun et al. - Convolutional Networks\",\n        \"Goodfellow, Bengio & Courville - Deep Learning\"\n      ],\n      \"palabras_clave\": [\"convolución\", \"CNN\", \"filtros\", \"características\"]\n    },\n    {\n      \"id\": \"Q045\",\n      \"categoria\": \"etica_regulacion\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Por qué la privacidad es un principio central en el diseño de sistemas de IA?\",\n      \"respuesta_esperada\": \"Los sistemas de IA suelen procesar grandes volúmenes de datos personales, lo que implica riesgos de uso indebido o exposición. Proteger la privacidad garantiza la confianza pública y el cumplimiento de normas legales.\",\n      \"fuentes_recomendadas\": [\n        \"OCDE - Principios de IA\",\n        \"UNESCO - Ética de la IA\"\n      ],\n      \"palabras_clave\": [\n        \"privacidad\",\n        \"datos personales\",\n        \"protección\",\n        \"ética\"\n      ]\n    },\n    {\n      \"id\": \"Q046\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Cómo apoya la IA la detección temprana de fraudes financieros?\",\n      \"respuesta_esperada\": \"Modelos de IA analizan patrones de transacciones para identificar comportamientos anómalos en tiempo real. Esto permite detectar fraudes con mayor precisión y reducir pérdidas operativas.\",\n      \"fuentes_recomendadas\": [\n        \"ACM Transactions on Intelligent Systems\",\n        \"IEEE Transactions on Neural Networks\"\n      ],\n      \"palabras_clave\": [\"fraude\", \"anomalías\", \"transacciones\", \"detección\"]\n    },\n    {\n      \"id\": \"Q047\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué implica la representación del conocimiento en IA?\",\n      \"respuesta_esperada\": \"Se refiere a las técnicas utilizadas para modelar información del mundo de manera que un sistema pueda razonar sobre ella. Incluye ontologías, lógicas formales y marcos semánticos que permiten inferencia estructurada.\",\n      \"fuentes_recomendadas\": [\n        \"Brachman & Levesque - Knowledge Representation\",\n        \"Russell & Norvig - Artificial Intelligence\"\n      ],\n      \"palabras_clave\": [\n        \"representación\",\n        \"conocimiento\",\n        \"ontologías\",\n        \"lógica\"\n      ]\n    },\n    {\n      \"id\": \"Q048\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué logró ELIZA en los primeros años de la IA?\",\n      \"respuesta_esperada\": \"ELIZA fue uno de los primeros programas de procesamiento del lenguaje natural capaces de simular conversaciones simples. Su impacto mostró cómo reglas básicas podían generar interacción aparentemente humana.\",\n      \"fuentes_recomendadas\": [\n        \"Weizenbaum - ELIZA Papers\",\n        \"AAAI Historical Resources\"\n      ],\n      \"palabras_clave\": [\"ELIZA\", \"PLN\", \"simulación\", \"conversación\"]\n    },\n    {\n      \"id\": \"Q049\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Por qué los métodos ensemble suelen mejorar el rendimiento de un modelo?\",\n      \"respuesta_esperada\": \"Combinan múltiples modelos base para reducir la varianza, el sesgo o ambos, produciendo predicciones más robustas. Técnicas como bagging y boosting permiten capturar distintos patrones del conjunto de datos.\",\n      \"fuentes_recomendadas\": [\n        \"Dietterich - Ensemble Methods\",\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\"\n      ],\n      \"palabras_clave\": [\"ensemble\", \"bagging\", \"boosting\", \"varianza\"]\n    },\n    {\n      \"id\": \"Q050\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es el descenso de gradiente en el entrenamiento de redes neuronales?\",\n      \"respuesta_esperada\": \"Es un método iterativo que ajusta los parámetros de un modelo minimizando una función de pérdida. Calcula gradientes para determinar la dirección en la que deben modificarse los pesos para mejorar el rendimiento.\",\n      \"fuentes_recomendadas\": [\n        \"Goodfellow, Bengio & Courville - Deep Learning\",\n        \"MIT OCW - Optimization for ML\"\n      ],\n      \"palabras_clave\": [\n        \"gradiente\",\n        \"optimización\",\n        \"pérdida\",\n        \"entrenamiento\"\n      ]\n    },\n    {\n      \"id\": \"Q051\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué es el preprocesamiento de datos en un proyecto de IA?\",\n      \"respuesta_esperada\": \"Es el conjunto de técnicas utilizadas para limpiar, transformar y preparar los datos antes de entrenar un modelo. Incluye normalización, eliminación de valores faltantes y codificación de variables.\",\n      \"fuentes_recomendadas\": [\n        \"Han, Kamber & Pei - Data Mining\",\n        \"Kelleher - Fundamentals of Machine Learning\"\n      ],\n      \"palabras_clave\": [\n        \"preprocesamiento\",\n        \"datos\",\n        \"limpieza\",\n        \"transformación\"\n      ]\n    },\n    {\n      \"id\": \"Q052\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué aportó el Perceptrón al desarrollo del aprendizaje automático?\",\n      \"respuesta_esperada\": \"Introdujo uno de los primeros modelos de redes neuronales capaces de aprender mediante ajuste de pesos. Aunque limitado, sentó las bases para el desarrollo de métodos más avanzados.\",\n      \"fuentes_recomendadas\": [\n        \"Rosenblatt - The Perceptron\",\n        \"Nilsson - Learning Machines\"\n      ],\n      \"palabras_clave\": [\n        \"perceptrón\",\n        \"red neuronal\",\n        \"historia\",\n        \"aprendizaje\"\n      ]\n    },\n    {\n      \"id\": \"Q053\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es la validación cruzada y por qué se utiliza?\",\n      \"respuesta_esperada\": \"Es una técnica que divide los datos en varios subconjuntos para evaluar el desempeño del modelo de manera más robusta. Permite estimar mejor su capacidad de generalización.\",\n      \"fuentes_recomendadas\": [\n        \"Hastie, Tibshirani & Friedman - The Elements of Statistical Learning\",\n        \"Bishop - Pattern Recognition and Machine Learning\"\n      ],\n      \"palabras_clave\": [\n        \"validación cruzada\",\n        \"generalización\",\n        \"evaluación\",\n        \"modelo\"\n      ]\n    },\n    {\n      \"id\": \"Q054\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué función cumple la atención en los modelos tipo Transformer?\",\n      \"respuesta_esperada\": \"La atención permite que el modelo asigne importancia variable a diferentes partes de la secuencia de entrada. Esto mejora la captura de dependencias largas y la eficiencia del entrenamiento.\",\n      \"fuentes_recomendadas\": [\n        \"Vaswani et al. - Attention Is All You Need\",\n        \"Lewis et al. - Transformers\"\n      ],\n      \"palabras_clave\": [\n        \"atención\",\n        \"transformers\",\n        \"secuencias\",\n        \"dependencias\"\n      ]\n    },\n    {\n      \"id\": \"Q055\",\n      \"categoria\": \"etica_regulacion\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué riesgos presenta la toma de decisiones automatizada sin supervisión humana?\",\n      \"respuesta_esperada\": \"Puede generar decisiones opacas, sesgadas o difíciles de impugnar. La ausencia de supervisión reduce la capacidad de corregir errores y afecta la responsabilidad y transparencia.\",\n      \"fuentes_recomendadas\": [\n        \"EU AI Act - Draft Analysis\",\n        \"UNESCO - Ethical Impact of AI\"\n      ],\n      \"palabras_clave\": [\n        \"automatización\",\n        \"supervisión\",\n        \"sesgos\",\n        \"responsabilidad\"\n      ]\n    },\n    {\n      \"id\": \"Q056\",\n      \"categoria\": \"aplicaciones\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Cómo se emplea la IA en los sistemas de recomendación?\",\n      \"respuesta_esperada\": \"Utiliza algoritmos que analizan el comportamiento del usuario y patrones de consumo para sugerir contenido relevante. Incluye filtrado colaborativo y modelos basados en contenido.\",\n      \"fuentes_recomendadas\": [\n        \"Ricci et al. - Recommender Systems Handbook\",\n        \"ACM CSUR Review on RS\"\n      ],\n      \"palabras_clave\": [\n        \"recomendaciones\",\n        \"filtrado\",\n        \"preferencias\",\n        \"usuarios\"\n      ]\n    },\n    {\n      \"id\": \"Q057\",\n      \"categoria\": \"conceptos_basicos\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es un modelo generativo?\",\n      \"respuesta_esperada\": \"Es un tipo de modelo que aprende la distribución de los datos para generar nuevas muestras similares a las originales. Incluye GANs, modelos autoregresivos y difusores.\",\n      \"fuentes_recomendadas\": [\n        \"Goodfellow - GANs\",\n        \"Ho et al. - Diffusion Models\"\n      ],\n      \"palabras_clave\": [\"generativo\", \"GAN\", \"difusión\", \"modelado\"]\n    },\n    {\n      \"id\": \"Q058\",\n      \"categoria\": \"historia\",\n      \"nivel\": \"avanzado\",\n      \"pregunta\": \"¿Qué impacto tuvo el 'AI Winter' en la investigación de inteligencia artificial?\",\n      \"respuesta_esperada\": \"Provocó una caída significativa en financiamiento y expectativas debido a resultados decepcionantes. Aun así, motivó líneas más realistas y sentó bases para avances posteriores.\",\n      \"fuentes_recomendadas\": [\n        \"Crevier - AI: The Tumultuous History\",\n        \"Nilsson - The Quest for Artificial Intelligence\"\n      ],\n      \"palabras_clave\": [\n        \"AI Winter\",\n        \"financiamiento\",\n        \"historia\",\n        \"investigación\"\n      ]\n    },\n    {\n      \"id\": \"Q059\",\n      \"categoria\": \"ml_clasico\",\n      \"nivel\": \"basico\",\n      \"pregunta\": \"¿Qué diferencia hay entre clasificación y regresión?\",\n      \"respuesta_esperada\": \"La clasificación predice categorías discretas, mientras que la regresión estima valores numéricos continuos. Representan dos tipos fundamentales de tareas supervisadas.\",\n      \"fuentes_recomendadas\": [\n        \"Bishop - Pattern Recognition and Machine Learning\",\n        \"Kelleher - Fundamentals of Machine Learning\"\n      ],\n      \"palabras_clave\": [\n        \"clasificación\",\n        \"regresión\",\n        \"supervisado\",\n        \"predicción\"\n      ]\n    },\n    {\n      \"id\": \"Q060\",\n      \"categoria\": \"deep_learning_llms\",\n      \"nivel\": \"intermedio\",\n      \"pregunta\": \"¿Qué es el fine-tuning en modelos de lenguaje?\",\n      \"respuesta_esperada\": \"Es el proceso de ajustar un modelo preentrenado sobre un conjunto de datos específico para adaptarlo a una tarea concreta. Permite obtener buen desempeño con menos datos y tiempo de entrenamiento.\",\n      \"fuentes_recomendadas\": [\n        \"Devlin et al. - BERT\",\n        \"Howard & Ruder - ULMFiT\"\n      ],\n      \"palabras_clave\": [\n        \"fine-tuning\",\n        \"preentrenamiento\",\n        \"ajuste\",\n        \"modelos de lenguaje\"\n      ]\n    }\n  ]\n}\n;\n\nreturn preguntasGold.preguntas.map(pregunta => ({\n  json: pregunta\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "b269e92e-a9e8-48dd-be19-1adb951400bb",
      "name": "Cargar_Preguntas_Gold"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://semilleroi3a.app.n8n.cloud/webhook/consulta-rag",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pregunta\": \"{{ $json.pregunta }}\"\n}",
        "options": {
          "timeout": 200000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        0
      ],
      "id": "c7661b5d-b274-47f7-bbbd-0dcce75b77d0",
      "name": "Consultar_ChatBot",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los resultados\nconst resultados = $input.all().map(item => item.json);\nconst total = resultados.length;\n\n// Calcular promedios\nconst promedios = {\n  exactitud: 0,\n  cobertura: 0,\n  claridad: 0,\n  citas: 0,\n  alucinacion: 0,\n  seguridad: 0,\n  score_r: 0\n};\n\nresultados.forEach(r => {\n  const m = r.metricas;\n  promedios.exactitud += m.exactitud;\n  promedios.cobertura += m.cobertura;\n  promedios.claridad += m.claridad;\n  promedios.citas += m.citas;\n  promedios.alucinacion += m.alucinacion;\n  promedios.seguridad += m.seguridad;\n  promedios.score_r += m.score_r;\n});\n\nObject.keys(promedios).forEach(key => {\n  promedios[key] = parseFloat((promedios[key] / total).toFixed(3));\n});\n\n// Métricas del proyecto\nconst tasaAlucinacion = promedios.alucinacion;\nconst porcentajeConCitas = (resultados.filter(r => r.num_fuentes > 0).length / total) * 100;\n\n// IFA = Índice Final de Adecuación\nconst IFA = (promedios.score_r * 0.6) + \n             ((1 - tasaAlucinacion) * 0.2) + \n             ((porcentajeConCitas / 100) * 0.2);\n\n// Resumen por categoría\nconst categorias = {};\nresultados.forEach(r => {\n  if (!categorias[r.categoria]) {\n    categorias[r.categoria] = {\n      count: 0,\n      score_promedio: 0\n    };\n  }\n  categorias[r.categoria].count++;\n  categorias[r.categoria].score_promedio += r.metricas.score_r;\n});\n\nObject.keys(categorias).forEach(cat => {\n  categorias[cat].score_promedio = parseFloat(\n    (categorias[cat].score_promedio / categorias[cat].count).toFixed(3)\n  );\n});\n\n// Construir resumen final\nconst resumen = {\n  metadata: {\n    fecha_evaluacion: new Date().toISOString(),\n    total_preguntas: total,\n    modelo_evaluado: \"gpt-3.5-turbo\",\n    version_evaluacion: \"1.0\"\n  },\n  metricas_promedio: promedios,\n  metricas_proyecto: {\n    score_global: promedios.score_r,\n    tasa_alucinacion_porcentaje: parseFloat((tasaAlucinacion * 100).toFixed(2)),\n    porcentaje_con_citas: parseFloat(porcentajeConCitas.toFixed(2)),\n    IFA: parseFloat(IFA.toFixed(3))\n  },\n  cumple_criterios: {\n    score_mayor_070: promedios.score_r >= 0.70,\n    alucinacion_menor_10_porciento: (tasaAlucinacion * 100) <= 10,\n    citas_mayor_85_porciento: porcentajeConCitas >= 85,\n    IFA_mayor_075: IFA >= 0.75,\n    aprobado: (promedios.score_r >= 0.70 && \n               (tasaAlucinacion * 100) <= 10 && \n               porcentajeConCitas >= 85 && \n               IFA >= 0.75)\n  },\n  resumen_por_categoria: categorias,\n  resultados_individuales: resultados\n};\n\nreturn [{ json: resumen }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ],
      "id": "a798d71e-bf96-40b4-9dbe-46b81f877711",
      "name": "Calcular_Resumen_Global"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1072,
        0
      ],
      "id": "e1c97472-9eeb-4ec6-a03e-7fa975936394",
      "name": "Responder_Resultados"
    },
    {
      "parameters": {
        "jsCode": "// Obtener TODOS los items de entrada (respuestas del ChatBot)\nconst respuestas = $input.all();\n\n// Obtener TODAS las preguntas originales\nconst preguntas = $('Cargar_Preguntas_Gold').all();\n\n// Verificar que tengamos la misma cantidad\nif (respuestas.length !== preguntas.length) {\n  throw new Error(`Mismatch: ${respuestas.length} respuestas vs ${preguntas.length} preguntas`);\n}\n\nconst resultados = [];\n\n// Procesar cada respuesta con su pregunta correspondiente\nfor (let i = 0; i < respuestas.length; i++) {\n  const preguntaOriginal = preguntas[i].json;\n  const respuestaBot = respuestas[i].json;\n  \n  // Extraer información\n  const preguntaTexto = preguntaOriginal.pregunta;\n  const respuestaEsperada = preguntaOriginal.respuesta_esperada;\n  const palabrasClave = preguntaOriginal.palabras_clave || [];\n  const respuestaObtenida = respuestaBot.respuesta || \"\";\n  const fuentesObtenidas = respuestaBot.fuentes || [];\n  const noTieneInfo = respuestaBot.no_tiene_informacion || false;\n\n  // ==========================================\n  // FUNCIONES DE EVALUACIÓN\n  // ==========================================\n\n  function calcularExactitud(respBot, respEsp, pClave) {\n    const respLower = respBot.toLowerCase();\n    const espLower = respEsp.toLowerCase();\n    \n    if (respLower.includes(\"no tengo información\") || respLower.includes(\"no puedo responder\")) {\n      return 0.1;\n    }\n    \n    let palabrasEncontradas = 0;\n    pClave.forEach(palabra => {\n      if (respLower.includes(palabra.toLowerCase())) {\n        palabrasEncontradas++;\n      }\n    });\n    \n    const scorePC = pClave.length > 0 ? palabrasEncontradas / pClave.length : 0.5;\n    \n    const conceptosEsp = espLower.split(/[,.\\s]+/).filter(p => p.length > 4);\n    let conceptosEnc = 0;\n    conceptosEsp.forEach(concepto => {\n      if (respLower.includes(concepto)) {\n        conceptosEnc++;\n      }\n    });\n    \n    const scoreConceptos = conceptosEsp.length > 0 ? conceptosEnc / conceptosEsp.length : 0.5;\n    \n    return (scorePC * 0.6 + scoreConceptos * 0.4);\n  }\n\n  function calcularCobertura(respBot, respEsp) {\n    const respLower = respBot.toLowerCase();\n    const espLower = respEsp.toLowerCase();\n    \n    if (respLower.includes(\"no tengo información\")) {\n      return 0;\n    }\n    \n    const longitudEsp = espLower.length;\n    const longitudObt = respLower.length;\n    const ratioLongitud = Math.min(longitudObt / longitudEsp, 1);\n    \n    const aspectos = espLower.split(/[,;]/).map(a => a.trim());\n    let aspectosCubiertos = 0;\n    \n    aspectos.forEach(aspecto => {\n      const palabras = aspecto.split(/\\s+/).filter(p => p.length > 4);\n      const algunaPresente = palabras.some(p => respLower.includes(p));\n      if (algunaPresente) {\n        aspectosCubiertos++;\n      }\n    });\n    \n    const ratioAspectos = aspectos.length > 0 ? aspectosCubiertos / aspectos.length : 0.5;\n    \n    return (ratioLongitud * 0.3 + ratioAspectos * 0.7);\n  }\n\n  function calcularClaridad(respBot) {\n    let score = 0.5;\n    \n    if (respBot.includes(\"**Referencias:**\") || respBot.includes(\"[Fuente:\")) {\n      score += 0.15;\n    }\n    \n    const palabras = respBot.split(/\\s+/).length;\n    if (palabras >= 30 && palabras <= 400) {\n      score += 0.15;\n    }\n    \n    const respLower = respBot.toLowerCase();\n    const frasesConfusas = [\"no estoy seguro\", \"puede ser\", \"quizás\", \"tal vez\"];\n    const tieneConfusion = frasesConfusas.some(frase => respLower.includes(frase));\n    if (!tieneConfusion) {\n      score += 0.1;\n    }\n    \n    if (!respBot.match(/\\s{3,}/) && !respBot.match(/[.]{3,}/)) {\n      score += 0.1;\n    }\n    \n    return Math.min(score, 1);\n  }\n\n  function calcularCitas(fuentes, respBot) {\n    if (respBot.toLowerCase().includes(\"no tengo información\")) {\n      return 1;\n    }\n    \n    const tieneCitasFormato = respBot.includes(\"[Fuente:\") || respBot.includes(\"**Referencias:**\");\n    const numFuentes = fuentes.length;\n    \n    let score = 0;\n    \n    if (numFuentes > 0) {\n      score += 0.5;\n    }\n    \n    if (tieneCitasFormato) {\n      score += 0.3;\n    }\n    \n    if (numFuentes >= 1 && numFuentes <= 3) {\n      score += 0.2;\n    }\n    \n    return score;\n  }\n\n  function detectarAlucinacion(respBot, fuentes) {\n    const respLower = respBot.toLowerCase();\n    let score = 0;\n    \n    const tieneDetalles = respBot.length > 100;\n    const tieneCitas = fuentes.length > 0;\n    \n    if (tieneDetalles && !tieneCitas && !respLower.includes(\"no tengo información\")) {\n      score += 0.5;\n    }\n    \n    const frasesGenerales = [\"es bien sabido\", \"todo el mundo sabe\", \"obviamente\", \"claramente\", \"sin duda\"];\n    const usaFrasesGenerales = frasesGenerales.some(frase => respLower.includes(frase));\n    if (usaFrasesGenerales && !tieneCitas) {\n      score += 0.3;\n    }\n    \n    if ((respLower.includes(\"siempre\") || respLower.includes(\"nunca\")) && !tieneCitas) {\n      score += 0.2;\n    }\n    \n    return Math.min(score, 1);\n  }\n\n  function verificarSeguridad(respBot) {\n    const respLower = respBot.toLowerCase();\n    const palabrasInapropiadas = [\"odio\", \"violencia\", \"discriminación\", \"arma\", \"droga\", \"ilegal\"];\n    const tieneInapropiado = palabrasInapropiadas.some(palabra => respLower.includes(palabra));\n    return tieneInapropiado ? 0 : 1;\n  }\n\n  // ==========================================\n  // CALCULAR MÉTRICAS\n  // ==========================================\n\n  const exactitud = calcularExactitud(respuestaObtenida, respuestaEsperada, palabrasClave);\n  const cobertura = calcularCobertura(respuestaObtenida, respuestaEsperada);\n  const claridad = calcularClaridad(respuestaObtenida);\n  const citas = calcularCitas(fuentesObtenidas, respuestaObtenida);\n  const alucinacion = detectarAlucinacion(respuestaObtenida, fuentesObtenidas);\n  const seguridad = verificarSeguridad(respuestaObtenida);\n\n  const score_r = (\n    0.35 * exactitud +\n    0.20 * cobertura +\n    0.15 * claridad +\n    0.20 * citas -\n    0.10 * alucinacion -\n    0.05 * seguridad\n  );\n\n  // Agregar resultado al array\n  resultados.push({\n    id: preguntaOriginal.id,\n    categoria: preguntaOriginal.categoria,\n    nivel: preguntaOriginal.nivel || \"medio\",\n    pregunta: preguntaTexto,\n    respuesta_esperada: respuestaEsperada,\n    respuesta_obtenida: respuestaObtenida,\n    fuentes_obtenidas: fuentesObtenidas.map(f => f.doc_nombre).join(\", \"),\n    num_fuentes: fuentesObtenidas.length,\n    no_tiene_informacion: noTieneInfo,\n    metricas: {\n      exactitud: parseFloat(exactitud.toFixed(3)),\n      cobertura: parseFloat(cobertura.toFixed(3)),\n      claridad: parseFloat(claridad.toFixed(3)),\n      citas: parseFloat(citas.toFixed(3)),\n      alucinacion: parseFloat(alucinacion.toFixed(3)),\n      seguridad: parseFloat(seguridad.toFixed(3)),\n      score_r: parseFloat(score_r.toFixed(3))\n    },\n    timestamp: new Date().toISOString()\n  });\n}\n\n// Retornar todos los resultados\nreturn resultados.map(resultado => ({ json: resultado }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "a9b224ee-f1ea-479f-9ca1-5934e8b04f3a",
      "name": "Evaluar_Respuesta"
    },
    {
      "parameters": {
        "jsCode": "const resumen = $input.first().json;\nconst resultados = resumen.resultados_individuales;\n\n// Generar encabezados CSV\nconst headers = [\n  \"ID\",\n  \"Categoria\",\n  \"Nivel\",\n  \"Pregunta\",\n  \"Respuesta_Esperada\",\n  \"Respuesta_Obtenida\",\n  \"Fuentes\",\n  \"Num_Fuentes\",\n  \"No_Tiene_Info\",\n  \"Exactitud\",\n  \"Cobertura\",\n  \"Claridad\",\n  \"Citas\",\n  \"Alucinacion\",\n  \"Seguridad\",\n  \"Score_R\",\n  \"Timestamp\"\n];\n\n// Función para limpiar texto CSV\nfunction limpiarTexto(texto) {\n  if (!texto) return \"\";\n  return texto\n    .replace(/\"/g, '\"\"')\n    .replace(/\\n/g, ' ')\n    .replace(/\\r/g, ' ')\n    .substring(0, 500); // Limitar longitud\n}\n\n// Generar filas CSV\nlet csv = headers.join(\",\") + \"\\n\";\n\nresultados.forEach(r => {\n  const fila = [\n    r.id,\n    r.categoria,\n    r.nivel,\n    `\"${limpiarTexto(r.pregunta)}\"`,\n    `\"${limpiarTexto(r.respuesta_esperada)}\"`,\n    `\"${limpiarTexto(r.respuesta_obtenida)}\"`,\n    `\"${r.fuentes_obtenidas}\"`,\n    r.num_fuentes,\n    r.no_tiene_informacion,\n    r.metricas.exactitud,\n    r.metricas.cobertura,\n    r.metricas.claridad,\n    r.metricas.citas,\n    r.metricas.alucinacion,\n    r.metricas.seguridad,\n    r.metricas.score_r,\n    r.timestamp\n  ];\n  \n  csv += fila.join(\",\") + \"\\n\";\n});\n\n// Agregar resumen al final\ncsv += \"\\n\\n--- RESUMEN GLOBAL ---\\n\";\ncsv += `Total Preguntas,${resumen.metadata.total_preguntas}\\n`;\ncsv += `Modelo,${resumen.metadata.modelo_evaluado}\\n`;\ncsv += `Score Global,${resumen.metricas_proyecto.score_global}\\n`;\ncsv += `Tasa Alucinacion %,${resumen.metricas_proyecto.tasa_alucinacion_porcentaje}\\n`;\ncsv += `Porcentaje Con Citas,${resumen.metricas_proyecto.porcentaje_con_citas}\\n`;\ncsv += `IFA,${resumen.metricas_proyecto.IFA}\\n`;\ncsv += `Aprobado,${resumen.cumple_criterios.aprobado}\\n`;\n\n// Retornar con datos binarios para descarga\nreturn [{\n  json: {\n    ...resumen,\n    csv_generado: true,\n    nombre_archivo: `evaluacion_chatbot_${new Date().toISOString().split('T')[0]}.csv`\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csv, 'utf-8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `evaluacion_chatbot_${new Date().toISOString().split('T')[0]}.csv`,\n      fileExtension: 'csv'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "c0e915fe-c98e-4dc4-a446-bd3c61c2726d",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Cargar_Preguntas_Gold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar_Preguntas_Gold": {
      "main": [
        [
          {
            "node": "Consultar_ChatBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_ChatBot": {
      "main": [
        [
          {
            "node": "Evaluar_Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular_Resumen_Global": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar_Respuesta": {
      "main": [
        [
          {
            "node": "Calcular_Resumen_Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Responder_Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76152d41-6599-4ada-812a-95d33b69446e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "312c41da1f64707c182f2cc912cfdf1e272c88b2a6ff833031fa4e94d238c185"
  },
  "id": "trW5Kn91hPGRhINm",
  "tags": []
}