n8n_workflows/05_WhatsApp_Integration.json.json
{
  "name": "05_WhatsApp_Integration.json",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -176
      ],
      "id": "dea109bf-2700-4610-8d45-b2c3064a84de",
      "name": "Chats recibido",
      "webhookId": "1a975ec8-b427-49cd-bd37-b19bf36a7a2f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Y1rBOQCPpyjv1e2b",
          "name": "WhatsApp OAuth RAGvengers"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "Eres un asistente experto en Inteligencia Artificial de la Universidad de Caldas.\n\nINSTRUCCIONES OBLIGATORIAS:\n\n1. Responde EXCLUSIVAMENTE con información del contexto recuperado de la base de conocimientos\n2. Si el contexto no contiene información suficiente, responde: \"No tengo información suficiente en mi base de conocimientos para responder esta pregunta con precisión.\"\n3. SIEMPRE incluye citas al final usando el formato: [Fuente: nombre_documento.pdf]\n4. NO inventes información bajo ninguna circunstancia\n5. Sé académico, claro y conciso (máximo 400 palabras)\n6. Si recuperas múltiples documentos, cita todos los relevantes\n\nFORMATO DE RESPUESTA OBLIGATORIO:\n- Párrafo(s) con la respuesta\n- Línea en blanco\n- **Referencias:**\n- [Fuente: documento1.pdf]\n- [Fuente: documento2.pdf]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        384,
        -176
      ],
      "id": "63cf6cd8-74d5-403f-960b-80776fccce45",
      "name": "AI Agent",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        48
      ],
      "id": "e61bc8f3-f9d6-4ae2-ab37-c09d7da9a26d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "duNr6yuyMS5tLzZU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "842226358971973",
        "recipientPhoneNumber": "+573218834799",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        736,
        -176
      ],
      "id": "64c63914-4338-4652-a1ee-2355e1053a35",
      "name": "Send message",
      "webhookId": "49496c7f-a5a1-49ba-a117-49d628cb69d5",
      "credentials": {
        "whatsAppApi": {
          "id": "udeLpbTS97Q9rg9U",
          "name": "Chatbot IA"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca información relevante en la base de conocimientos sobre Inteligencia Artificial de la Universidad de Caldas. Use esta herramienta para responder preguntas sobre IA, machine learning, ética, regulación y aplicaciones.",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot-ia-ucaldas",
          "mode": "list",
          "cachedResultName": "chatbot-ia-ucaldas"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        48
      ],
      "id": "6184b226-ffa5-4ff9-8b71-4d469c78d693",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "S7KkYW6MsGysT6mc",
          "name": "Pinecone_Proyecto_IA"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        256
      ],
      "id": "757e20a2-9c37-45a6-86b6-3dab7a20a098",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "duNr6yuyMS5tLzZU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const mensaje = $json.messages?.[0]?.text?.body;\n\nif (mensaje) {\n  return {\n    json: {\n      mensaje\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -176
      ],
      "id": "e24396d3-663e-40ca-9ec4-6b9f89b7be45",
      "name": "Message validation"
    }
  ],
  "pinData": {},
  "connections": {
    "Chats recibido": {
      "main": [
        [
          {
            "node": "Message validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Message validation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1795c9fd-d58b-402a-91eb-828e8649f71c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "312c41da1f64707c182f2cc912cfdf1e272c88b2a6ff833031fa4e94d238c185"
  },
  "id": "I3nUsoYQJqtwYZko",
  "tags": []
}