n8n_workflows/06_Telegram_Integration.json.json
{
  "name": "06_Telegram_Integration.json",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const mensaje = $json.message?.text;\n\nif (mensaje) {\n  return {\n    json: {\n      mensaje\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -32
      ],
      "id": "b580eb45-14b1-4eb3-87f3-211cc902d59d",
      "name": "Message validation"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -32
      ],
      "id": "e3293065-b7de-4d8e-8a4a-9ad60c3b3d6a",
      "name": "Chat recibido",
      "webhookId": "b4e47c10-466c-4a23-9734-eb93c05c8966",
      "credentials": {
        "telegramApi": {
          "id": "Qfm6oWPWYw5CuSBO",
          "name": "Telegram account RAGvengers"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.mensaje }}",
        "options": {
          "systemMessage": "Eres un asistente experto en Inteligencia Artificial de la Universidad de Caldas.\n\nINSTRUCCIONES OBLIGATORIAS:\n\n1. Responde EXCLUSIVAMENTE con información del contexto recuperado de la base de conocimientos\n2. Si el contexto no contiene información suficiente, responde: \"No tengo información suficiente en mi base de conocimientos para responder esta pregunta con precisión.\"\n3. SIEMPRE incluye citas al final usando el formato: [Fuente: nombre_documento.pdf]\n4. NO inventes información bajo ninguna circunstancia\n5. Sé académico, claro y conciso (máximo 400 palabras)\n6. Si recuperas múltiples documentos, cita todos los relevantes\n\nFORMATO DE RESPUESTA OBLIGATORIO:\n- Párrafo(s) con la respuesta\n- Línea en blanco\n- **Referencias:**\n- [Fuente: documento1.pdf]\n- [Fuente: documento2.pdf]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        -32
      ],
      "id": "6f0bf648-daa4-4a53-a221-4660fa191bff",
      "name": "AI Agent",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        176
      ],
      "id": "91457ddf-e05b-4d7c-8dce-d6b163062cfc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "duNr6yuyMS5tLzZU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca información relevante en la base de conocimientos sobre Inteligencia Artificial de la Universidad de Caldas. Use esta herramienta para responder preguntas sobre IA, machine learning, ética, regulación y aplicaciones.",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbot-ia-ucaldas",
          "mode": "list",
          "cachedResultName": "chatbot-ia-ucaldas"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        176
      ],
      "id": "2c9743a5-6799-427e-b59d-b96fadff5852",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "S7KkYW6MsGysT6mc",
          "name": "Pinecone_Proyecto_IA"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        384
      ],
      "id": "23d0d624-2926-4b9a-befc-20a36d29f01e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "duNr6yuyMS5tLzZU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Chat recibido').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -32
      ],
      "id": "de7b019b-9617-4dd8-aeb3-45190ab4d320",
      "name": "Send a text message",
      "webhookId": "2cdce22c-d6d7-4664-a476-373299c4226a",
      "credentials": {
        "telegramApi": {
          "id": "Qfm6oWPWYw5CuSBO",
          "name": "Telegram account RAGvengers"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat recibido": {
      "main": [
        [
          {
            "node": "Message validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Message validation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9afa685d-1c35-4635-bc2c-f00361fb997e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "312c41da1f64707c182f2cc912cfdf1e272c88b2a6ff833031fa4e94d238c185"
  },
  "id": "CA36wfJQUb7HiUVd",
  "tags": []
}